* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

body {
    background-color: darkgrey;
    margin-top: 50px;
}

#game {
    background-color: #faeddd;
    display: block;
    margin: auto;
    border-radius: 30px;
}

#tools {
    background-color: white;
    height: 50px;
    width: 400px;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    width: 40px;
    height: 40px;
    user-select: none;
    cursor: pointer;
}

#preview {
    border-radius: 50%;
    background-color: black;
    position: inherit;
    align-self: center;
    border: 1px solid black;
}

span {
    position: fixed;
    display: none;
    color: red;
    cursor: pointer;
    height: 15px;
    width: 15px;
    text-align: center;
    user-select: none;
}

#leftcontainer, #rightcontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin: 15px;
    width: 200px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerbox {
    width: 159;
    height: 19px;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

#title {
    text-align: center;
    margin: 0 auto;

}

#chatbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 220px;
    padding: 2px;
    border-radius: 5px;
}